<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Property</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<script>
	function goBack() {
		window.location.href = '/properties/my';
	}

	function validateForm() {
        var place = document.getElementById("place").value;
        var area = document.getElementById("area").value;
        var numberOfBedrooms = document.getElementById("numberOfBedrooms").value;
        var numberOfBathrooms = document.getElementById("numberOfBathrooms").value;
        var nearbyHospitals = document.getElementById("nearbyHospitals").value;
        var nearbyColleges = document.getElementById("nearbyColleges").value;

        if (place == "") {
            alert("Place must be filled out");
            return false;
        }
        if (area == "" || area > 1000) {
            alert("Area must be filled out and cannot be greater than 1000 sq ft");
            return false;
        }
        if (numberOfBedrooms == "" || numberOfBedrooms > 10) {
            alert("Number of Bedrooms must be filled out and cannot be more than 10");
            return false;
        }
        if (numberOfBathrooms == "") {
            alert("Number of Bathrooms must be filled out");
            return false;
        }
        if (nearbyHospitals == "") {
            alert("Nearby Hospitals must be filled out");
            return false;
        }
        if (nearbyColleges == "") {
            alert("Nearby Colleges must be filled out");
            return false;
        }
        return true;
    }
</script>
</head>
<body>
	<h1>Edit Property</h1>
	<form action="#" th:action="@{/properties/update}"
		th:object="${property}" method="post" onsubmit="return validateForm()">
		<input type="hidden" th:field="*{id}" />
		<div>
			<label for="place">Place:</label> <input type="text" id="place"
				th:field="*{place}" required />
		</div>
		<div>
			<label for="area">Area (sq ft):</label> <input type="number"
				id="area" th:field="*{area}" required />
		</div>
		<div>
			<label for="numberOfBedrooms">Number of Bedrooms:</label> <input
				type="number" id="numberOfBedrooms" th:field="*{numberOfBedrooms}"
				required />
		</div>
		<div>
			<label for="numberOfBathrooms">Number of Bathrooms:</label> <input
				type="number" id="numberOfBathrooms" th:field="*{numberOfBathrooms}"
				required />
		</div>
		<div>
			<label for="nearbyHospitals">Nearby Hospitals:</label> <input
				type="text" id="nearbyHospitals" th:field="*{nearbyHospitals}"
				required />
		</div>
		<div>
			<label for="nearbyColleges">Nearby Colleges:</label> <input
				type="text" id="nearbyColleges" th:field="*{nearbyColleges}"
				required />
		</div>
		<button type="submit">Update Property</button>
		<button type="button" onclick="goBack()">Back</button>
	</form>
</body>
</html>
